@font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei,
sans-serif;
@font-size-base: 14px;
@font-size: @font-size-base;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: 12px;
@font-size-h1: @font-size-base * 2;
@font-size-h2: @font-size-base * 1.5;
@font-size-h3: @font-size-base * 1.17;
@line-height-base: 1.5;

@primary-color: #3488ff;
@foreground-color: black;
@background-color: white;

@body-background: @background-color;
@disabled-color: fade(@foreground-color, 25%);
@text-color: fade(@foreground-color, 65%);
@text-color-secondary: fade(@foreground-color, 45%);

@heading-color: @primary-color;
@link-color: @primary-color;
@link-hover-color: @primary-color;
@link-active-color: @primary-color;
@link-decoration: none;
@link-hover-decoration: none;
